{% extends "layout.html" %}

{% block content %}
Dashboard page
<table id="temptable" class="table table-dark table-striped">
    <thead>
        <tr>
            <th>value</th>
            <th>time</th>
            <th>unit</th>
            <th>type</th>
            <th>sensor</th>
            <th>location</th>
        </tr>
    </thead>
    {% for measurement in measurements %}
        <tr>
            <td>{{measurement.value}}</td>
            <td>{{measurement.time}}</td>
            <td>{{measurement.unit}}</td>
            <td>{{measurement.type}}</td>
            <td>{{measurement.sensor}}</td>
            <td>{{measurement.location}}</td>
        </tr>
    {% endfor %}

</table>
<script>(document).ready(function() {
    ('#temptable').DataTable();
} );</script>
{% endblock %}